<% provide(:title, 'About It') %>
<h1>About It</h1>
<p>
  This demo is made by Steven Meng following <a href="http://www.amazon.com/Agile-Web-Development-Rails-Programmers/dp/097669400X">Agile Web       Development with Rails</a> and <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
